#map
 {
  height: 400px;
  width: 80%;
}

 .logo_p
  {
   height: 25px;
   width: 25px;
   margin-top: -40px;
   margin-left: -30px;
 }

 .bevisa_letras
  {
   height: 40px;
   width: 150px;
   color: #FFFFFF;
   margin-top: 0px;
 }


 @media (max-width: 1000px) {
   .bevisa_letras
    {
     height: 30px;
     width: 100px;
   }
 }

 #intro h1 {
   margin: 30px 0 10px 0;
   padding: 0 15px;
   font-size: 70px;
   font-weight: 400;
   line-height: 56px;
   color: #FFFFFF;
 }

.intro_contacto
{
  background: linear-gradient(45deg, rgba(63, 191, 63, 0.3), rgba(64, 191, 64, 0.3)), url("../img/contacto.jpg") center top no-repeat;
}

.intro_index
{
  background: linear-gradient(45deg, rgba(226, 226, 69, 0.6), rgba(243, 243, 123, 0.6)), url("../img/index_principal.jpg") center top no-repeat;
}

.intro_galeria
{
  background: linear-gradient(45deg, rgba(250, 216, 152, 0.6), rgba(240, 199, 121, 0.6)), url("../img/index_galeria.jpg") center top no-repeat;
}

.intro_industrial
{
  background: linear-gradient(45deg, rgba(149, 212, 212, 0.4), rgba(24, 174, 174, 0.4)), url("../img/index_industrial.jpg") center top no-repeat;
}

.intro_recetas
{
  background: linear-gradient(45deg, rgba(189, 50, 50, 0.4), rgba(232, 83, 83, 0.4)), url("../img/index_recetas.jpg") center top no-repeat;
}



.btn-primary {
  color: #fff;
  background: linear-gradient(45deg, rgba(228, 51, 131, 1), rgba(228, 149, 51, 1));
  border-color: rgba(228, 51, 131, 1);
}


.btn-secondary {
  color: #fff;
  background: linear-gradient(45deg, rgba(44, 154, 154, 1), rgba(111, 194, 194, 0.6));
  border-color: rgba(42, 161, 161, 1);
}


.btn-secondary:hover {
  color: #fff;
  background: rgba(3, 118, 118, 1);
  border-color: rgba(3, 118, 118, 1);
}

.btn-secondary:focus,.btn-secondary.focus {
  color: #fff;
  background: rgba(2, 118, 118, 1);
  border-color: rgba(2, 118, 118, 1);

}

.logo{
  height: 350px;
  width: 60%;
}

.logo_letras{
  margin-top: -100px;
}

 @media (max-width: 800px) {
   .logo{
     height: 200px;
     width: 60%;
     margin-top: -90px;
   }

   .logo_letras{
     margin-top: -10px;
   }

 }
