#map
 {
  height: 400px;
  width: 80%;
}

 .logo_p
  {
   height: 25px;
   width: 25px;
   margin-top: -40px;
   margin-left: -30px;
   z-index: 999;
 }

 .bevisa_letras
  {
   height: 40px;
   width: 150px;
   color: #FFFFFF;
   margin-top: 0px;
 }


 @media (max-width: 1000px) {
   .bevisa_letras
    {
     height: 30px;
     width: 100px;
   }
 }

 #intro h1 {
   margin: 30px 0 10px 0;
   padding: 0 15px;
   font-size: 70px;
   font-weight: 400;
   line-height: 56px;
   color: #FFFFFF;
 }

.intro_contacto
{
  background: linear-gradient(45deg, rgba(63, 191, 63, 0.3), rgba(64, 191, 64, 0.3)), url("../img/contacto.jpg") center top no-repeat;
}

.intro_index
{
  background: linear-gradient(45deg, rgba(226, 226, 69, 0.6), rgba(243, 243, 123, 0.6)), url("../img/index_principal.jpg") center top no-repeat;
}

.intro_galeria
{
  background: linear-gradient(45deg, rgba(250, 216, 152, 0.6), rgba(240, 199, 121, 0.6)), url("../img/index_galeria.jpg") center top no-repeat;
}

.intro_industrial
{
  background: linear-gradient(45deg, rgba(149, 212, 212, 0.4), rgba(24, 174, 174, 0.4)), url("../img/index_industrial.jpg") center top no-repeat;
}

.intro_recetas
{
  background: linear-gradient(45deg, rgba(189, 50, 50, 0.4), rgba(232, 83, 83, 0.4)), url("../img/index_recetas.jpg") center top no-repeat;
}



.btn-primary {
  color: #fff;
  background: linear-gradient(45deg, rgba(228, 51, 131, 1), rgba(228, 149, 51, 1));
  border-color: rgba(228, 51, 131, 1);
}


.btn-secondary {
  color: #fff;
  background: linear-gradient(45deg, rgba(44, 154, 154, 1), rgba(111, 194, 194, 0.6));
  border-color: rgba(42, 161, 161, 1);
}


.btn-secondary:hover {
  color: #fff;
  background: rgba(3, 118, 118, 1);
  border-color: rgba(3, 118, 118, 1);
}

.btn-secondary:focus,.btn-secondary.focus {
  color: #fff;
  background: rgba(2, 118, 118, 1);
  border-color: rgba(2, 118, 118, 1);

}

.logo{
  height: 350px;
  width: 60%;
}

.logo-bevisa{
  width: 40%;
}

.logo_letras{
  margin-top: -100px;
}

 @media (max-width: 900px) {
   .logo{
     height: 200px;
     width: 60%;
     margin-top: -90px;
   }

   .logo_letras{
     margin-top: -10px;
   }
 }

/* LOADER */
.bg {
 width: 100%;
 height: 100vh;
 background-color: white;
 background-size: cover;
 position: relative;
 z-index: 1000;
}

 .loader {
   position: absolute;
   width: 200px;
   height: 200px;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   z-index: 2000;
 }


 .item {
   width: 100px;
   height: 100px;
   position: absolute;
 }

 .item-1 {
   background-color: #CE2B7A;
   top: 0;
   left: 0;
   z-index: 999;
   -webkit-animation: item-1_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
           animation: item-1_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
 }

 .item-2 {
   background-color: #E1913B;
   top: 0;
   right: 0;
   z-index: 998;
   -webkit-animation: item-2_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
           animation: item-2_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
 }

 .item-3 {
   background-color: #34CF37;
   bottom: 0;
   right: 0;
   z-index: 999;
   -webkit-animation: item-3_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
           animation: item-3_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
 }

 .item-4 {
   background-color: #41156A;
   bottom: 0;
   left: 0;
   z-index: 998;
   -webkit-animation: item-4_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
           animation: item-4_move 1.8s cubic-bezier(.6,.01,.4,1) infinite;
 }

 @-webkit-keyframes item-1_move {
   0%, 100% {-webkit-transform: translate(0, 0);transform: translate(0, 0)}
   25% {-webkit-transform: translate(0, 100px);transform: translate(0, 100px)}
   50% {-webkit-transform: translate(100px, 100px);transform: translate(100px, 100px)}
   75% {-webkit-transform: translate(100px, 0);transform: translate(100px, 0)}
 }

 @keyframes item-1_move {
   0%, 100% {-webkit-transform: translate(0, 0);transform: translate(0, 0)}
   25% {-webkit-transform: translate(0, 100px);transform: translate(0, 100px)}
   50% {-webkit-transform: translate(100px, 100px);transform: translate(100px, 100px)}
   75% {-webkit-transform: translate(100px, 0);transform: translate(100px, 0)}
 }

 @-webkit-keyframes item-2_move {
   0%, 100% {-webkit-transform: translate(0, 0);transform: translate(0, 0)}
   25% {-webkit-transform: translate(-100px, 0);transform: translate(-100px, 0)}
   50% {-webkit-transform: translate(-100px, 100px);transform: translate(-100px, 100px)}
   75% {-webkit-transform: translate(0, 100px);transform: translate(0, 100px)}
 }

 @keyframes item-2_move {
   0%, 100% {-webkit-transform: translate(0, 0);transform: translate(0, 0)}
   25% {-webkit-transform: translate(-100px, 0);transform: translate(-100px, 0)}
   50% {-webkit-transform: translate(-100px, 100px);transform: translate(-100px, 100px)}
   75% {-webkit-transform: translate(0, 100px);transform: translate(0, 100px)}
 }

 @-webkit-keyframes item-3_move {
   0%, 100% {-webkit-transform: translate(0, 0);transform: translate(0, 0)}
   25% {-webkit-transform: translate(0, -100px);transform: translate(0, -100px)}
   50% {-webkit-transform: translate(-100px, -100px);transform: translate(-100px, -100px)}
   75% {-webkit-transform: translate(-100px, 0);transform: translate(-100px, 0)}
 }

 @keyframes item-3_move {
   0%, 100% {-webkit-transform: translate(0, 0);transform: translate(0, 0)}
   25% {-webkit-transform: translate(0, -100px);transform: translate(0, -100px)}
   50% {-webkit-transform: translate(-100px, -100px);transform: translate(-100px, -100px)}
   75% {-webkit-transform: translate(-100px, 0);transform: translate(-100px, 0)}
 }

 @-webkit-keyframes item-4_move {
   0%, 100% {-webkit-transform: translate(0, 0);transform: translate(0, 0)}
   25% {-webkit-transform: translate(100px, 0);transform: translate(100px, 0)}
   50% {-webkit-transform: translate(100px, -100px);transform: translate(100px, -100px)}
   75% {-webkit-transform: translate(0, -100px);transform: translate(0, -100px)}
 }

 @keyframes item-4_move {
   0%, 100% {-webkit-transform: translate(0, 0);transform: translate(0, 0)}
   25% {-webkit-transform: translate(100px, 0);transform: translate(100px, 0)}
   50% {-webkit-transform: translate(100px, -100px);transform: translate(100px, -100px)}
   75% {-webkit-transform: translate(0, -100px);transform: translate(0, -100px)}
 }

 /*Social Bar */
 .social-bar {
	position: fixed;
	left: 0;
	top: 60%;
	font-size: 15px;
	display: none;
	flex-direction: column;
	align-items: flex-start;
	z-index: 100;
}
 @media (max-width: 900px) {
   .social-bar {
     top: 70%;
   }
 }
.social-bar a:hover,.social-bar a:active,.social-bar a:focus{
   color: white;
}

.icono-social {
	color: white;
	text-decoration: none;
	padding: .7rem;
	display: flex;
	transition: all .5s;
}

.icon-whatsapp {
	background: #35D835;
  margin-left: -99px;
}


.icon-mail {
	background: #E02828;
  margin-left: -190px;
}

.icon-whatsapp i,.icon-mail i{
	font-size: 28px;
}

.icono-social:first-child {
	border-radius: 0 1rem 0 0;
}

.icono-social:last-child {
	border-radius: 0 0 1rem 0;
}

.icon-whatsapp:hover {
	padding-left: 7rem;
	border-radius: 0 1rem 1rem 0;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

.icon-mail:hover {
	padding-left: 13rem;
	border-radius: 0 1rem 1rem 0;
	box-shadow: 0 0 .5rem rgba(0, 0, 0, 0.42);
}

/*Valores*/
.valores ul li{
  margin-top: 50px;
  font-size: 20px;
}
 @media (max-width: 900px) {
  .valores ul li{
    margin-top: 10px;
    font-size: 15px;
  }
}
